.nav {
  background-color: var(--color-acero);
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  margin: 0 auto;
}

.item__paragraph {
  color: white;
  font-size: 27px;
}